#city{
    border: 1px solid var(--text-color);
    margin-top: 10px;
}


.cvadrat,.pramokytnyk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
}


.cvadrat input{
    border: 1px solid var(--text-color);
    margin-top: 10px;
}
.pramokytnyk input{
    border: 1px solid var(--text-color);
    margin-top: 10px;

}

.one_row{
    background-color: var(--button-bg-color);

}
.three_row{
    background-color: var(--body-background);
}