#result{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-top: 25px ;
}
#future, #in_progress, #completed{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
p{
    width: auto;
    margin: 0;
    padding: 0;
    text-align: start;
}
.ft{
    background-color: aquamarine;
    padding: 10px;
}
.ip{
    background-color: gold;
    padding: 10px;

}
.com{
    background-color:silver;
    padding: 10px;

}