@import "reset.css";
@import "base.css";


body {
    font-family: var(--font-family);
    background: var(--body-background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.card {
    background: white;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    max-width: 90vw;
    min-height: 70vh;
}

.card__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

h1 {
    margin: 10px 0 5px;
    font-size: var(--h1-fz);
    font-weight: 800;

}

h2 {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
}

.section__tasks {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.list_with_tasks {
    padding-left: 40px;
}

.task_item {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: var(--h2-fz);
}

.task_item::before {
    content: "";
    display: block;
    height: 7px;
    width: 7px;
    background-color: var(--text-color);
    border-radius: 50%;
}


p {
    margin-top: 15px;
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.5;
    width: 30vw;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.link {
    margin-top: 25px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link {
    color: white;
    background: var(--button-bg-color);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 15px;
    margin: 0 8px;
    letter-spacing: 3px;
    width: fit-content;
}

.link:hover {
    background: #2563eb;
    transition: background 0.3s;

}

.section__results {
    margin-top: 25px;
    width: 100%;
}
.result{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}









.friends-table {
    width: 100%;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin-top: 25px;
}

.friends-table th {
    background-color: var(--button-bg-color);
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 16px;
}

.friends-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}




.three_day_bd{
    background-color: #a89a4f;


}
.today_bd{
    background-color: #b32424;


}

.title {
    text-align: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}


@media (max-width: 990px) {
    .card {
        height:fit-content;
        width:50vw;
    }

}